@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&display=swap");

* {
  background-color: black;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
}

.span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#author h3 {
  text-align: right;
  color: #f48b0b;
  font-family: "Shadows Into Light", cursive;
  font-size: 1.5em;
}

#text h1 {
  color: #f48b0b;
  font-size: 2.5em;
  font-family: "Shadows Into Light", cursive;
}

.span h4 {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  font-family: "Shadows Into Light", cursive;
}

a:hover {
  text-decoration: underline;
  color: #fff;
}

button {
  font-size: 20px;
  padding: 10px 30px;
  border: 1px solid #f48b0b;
  margin: 10px;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  background-color: #007bff;
  border: none;
  color: #fff;
  font-family: "Shadows Into Light", cursive;
}

.fa-brands {
  margin-right: 7px;
}

.btn {
  display: flex;
  justify-content: center;
  font-family: "Shadows Into Light", cursive;
}

button:hover {
  cursor: pointer;
}
